<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间必须是接口-->
<mapper namespace="com.prj.mapper.user.UserMapper">
    <resultMap id="userMap" type="User">
        <id column="id" property="id"></id>
        <result column="uname" property="uname"></result>
        <association property="role" resultMap="roleMap" javaType="Role"></association>
    </resultMap>
    <resultMap id="roleMap" type="Role">
        <id column="id" property="id"></id>
        <result column="rname" property="rname"></result>
    </resultMap>

    <select id="login"  resultMap="userMap" parameterType="User">
    SELECT *  FROM USER u,role r WHERE u.role_id=r.id AND uname=#{uname} AND pwd=#{pwd}
    </select>

</mapper>